body {
    padding: 2em;
}

header {
    border: 5px solid #000000;
    background-color: #CD3210;
    font-family: sans-serif;
    padding: .5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #87CEEB;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #CD3210;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
    margin: 0;
    padding: 0;
}

h1 {
    color: #5708A7;
}

h2 {
    color: #5708A7
}

pre {
    border: 1px solid #5708A7;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #000000;
    width: 40%;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #CD3210;
}
